.community-container{
    display: flex;
    margin:50px 0px;
}
.community-triangle{
    background-color:#FF0000 ;
    height: 80px;
    width: 80px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);

}

.community-icon-img{
    max-width: 100%;
    width: 80px;
}

.community-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap:5%;
}

.icon-text{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
    font-size: 40px;
    color:#FFF9F9;
    font-weight: bold;
}