.side-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.rec-games-container{
    padding-top: 50px;
}

.rec-game-home-image-bg-container{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.rec-game-img-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.rec-game-home-other-img-container{
    background-color:#2e2e2ead ;
    height: 105px;
    width: 100%;
    position: absolute;
    bottom:0;
}

.rec-game-home-other-img-container-sm{
    display: flex;
    justify-content: center;
}



.other-game-side-section{
    border: 2px solid red;
}

.other-img-sm{
    filter: brightness(80%);
    cursor: pointer;
    width: 120px;
    height:105px;
    padding: 10px;
}


.other-img-active{
    filter: brightness(110%);
}

.other-img-sm:hover{
    filter: brightness(100%);
    cursor: pointer;
    transition: .1s ease-in;
    transform:scale(1.1);
}

/* leftside */

.other-game-rec-side-container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 205px;
    height:305px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.other-game-rec-side-img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.other-game-rec-side-desc-container{
    height: 0px;
    padding: 10px;
    position: absolute;
    transition: .2s ease-in;
    background-color: #222222;
}

.other-game-rec-side-container:hover >.other-game-rec-side-desc-container{
    height: 100%;
    bottom:0%;
    background-color: #222222d0;
}

.other-game-rec-side-desc-container::after{
    content:'';
    height:4px;
    width: 50%;
    position: absolute;
    background-color: #FF0000;

}

.other-game-rec-title{
    padding-top: 10px;
    color:#FFF9F9;
}

.other-game-rec-text-desc{
    color:#A1A1A1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.other-game-rec-more{
    display: flex;
    justify-content: flex-end;
    color:#A1A1A1;
    cursor:pointer;
    transition: .1s ease-in;
}

.other-game-rec-more:hover{
    color:#FFF9F9;
    font-weight: bold;
}

.more-details-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition:.1s ease-in
}


@media (max-width:991px){
    .rec-games-container > div >div{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* margin: auto; */
    }

}

@media (max-width:767px){
    .other-game-rec-side-container{
        width: 155px;
        height:205px;
        margin: 8px;
    }
    .other-game-rec-title{
        font-size: 20px;
    }
    .other-game-rec-side-container:hover >.other-game-rec-side-desc-container{
        /* height: 145px; */
        bottom:0%;
        
    }
    .other-game-rec-text-desc{
        font-size: 15px;
    }

}

@media (max-width:575px){
    .side-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .other-game-rec-side-container{
        width: 255px;
        height:255px;
        margin: 0px;
        margin-top: 5px;
    }
}

@media (max-width:555px) {
    .side-container{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }

    .side-container >div{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .other-game-rec-side-container{
        width:70%;
        height:90%;
        margin: 0px;
        margin-top: 5px;
    }
    .other-img-sm{
        width: 25%;
        /* height:; */
        padding: 10px;
    }
}

@media (max-width:442px){
    .other-game-rec-more{
        display: none;
    }
}