.signInUp-container{
    padding:100px 0px;
}
.login-img{
    max-width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius:35px ;
    border:1px solid #707070;
}

.login-container,.register-container{
    padding:0px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius:35px ;
    position: relative;
    width: 50%;
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gray-container{
    cursor: pointer;
    height: 100%;
    width: 100%;
    bottom:0;
    position: absolute;
    background-color: #3434348f;
    border-radius:35px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.signinup-title{
    color:#FFF9F9;
    font-size: 50px;
}

.register-container .register-title{
    /* transform: rotate(90deg); */
    white-space: nowrap;
    position: absolute;
    /* right: 0px;
    top:10%; */
    transform-origin:0% 100%;
}


.reduced-width {
    width: 30%;
}

.login-container.clicked{
    width: 70%;
}

.vertical-text-register {
    transform: rotate(90deg);
    white-space: normal;
    position: relative;
    right: 0px;
    top:10%;
    /* transform-origin: 0% 100%; */
}

.vertical-text-login {
    transform: rotate(270deg);
    white-space: normal;
    position: relative;
    left: 0px;
    top:0%;
    /* transform-origin: 0% 100%; */
}

.login-container .move-text ,
.register-container .move-text {
    align-self: flex-start;
    margin-top: 10px; /* Adjust this value for positioning */
}

.increasedWidth{
    width: 70%;
}

.third-partyLogin-icon-container{
    display: flex;
}

.third-party-icon-img{
    width: 35px;
    height: 35px;
}

.login-password,.login-username,
.register-username,.register-password{
    width: 40vw;
    height: 5vh;
   margin:5px 0px;
   border: 15%;
}

.login-remember-text{
    margin-left: 5px;
    color:#FFF9F9;
    font-size:20px ;
}
.login-btn-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
}

.thirdParty-text{
    color:#FFF9F9;
    font-size: 20px;
}

.login-textField{
    display: block;
}

.register-textField{
    margin-top: 50px;
}